body{
background-color:#FFFFFF;
background-image:url(../../e-learning/images/bg-body.jpg);
background-repeat:repeat-x;
background-attachment:fixed;
background-position:bottom;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
padding:0;
margin:0;
}
#tengah-header{
width:800px;
padding:0px;
margin:0 auto;
}
#header{
background-image:url(../images/bg-header.png);
background-repeat:repeat-x;
width:350px;
padding:0px;
margin:0 auto;
float:left;
}
#salam{
background-image:url(../images/bg-header.png);
background-repeat:repeat-x;
width:440px;
height:80px;
text-align:right;
padding-right:10px;
text-shadow:2px 2px 2px #C7C7C7;
float:left;
}
#batas-atas{
width:800px;
padding:0px;
margin:0 auto;
}
#tengah{
width:800px;
padding:0px;
margin:0 auto;
}
#kiri{
width:606px;
padding-left:10px;
padding-right:10px;
margin:0 auto;
background-color:#CEF0FF;
float:left;
}
#kiri-bawah{
width:606px;
padding-left:10px;
padding-right:10px;
margin:0 auto;
background-color:#CEF0FF;
float:left;
}
#kanan{
width:174px;
padding-left:0px;
margin:0 auto;
background-color:#A7E4FF;
float:left;
}
#kanan-bawah{
width:174px;
padding-left:0px;
margin:0 auto;
background-color:white;
float:left;
}
h2{
font-size:15px;
padding-left:25px;
margin:0px;
font-weight:bold;
text-shadow:2px 2px 2px #ccc;
background-image:url(../images/pict-ok.png);
background-position:left;
background-repeat:no-repeat;
color:#666666;
}
h3{
font-size:11px;
padding:0px;
margin:0px;
font-weight:normal;
color:#666666;
}
h4{
font-size:13px;
margin:0px;
padding-left:10px;
padding-top:5px;
font-weight:bold;
color:#666666;
}
.bg-menu{
background-image:url(../images/bg-menu.png);
background-repeat:no-repeat;
width:150px;
height:30px;
font-size:14px;
color:#666666;
font-weight:bold;
padding:5px 10px 5px 10px;
}
.bg-menu:hover{
background-image:url(../images/bg-menu-hover.png);
background-repeat:no-repeat;
width:150px;
height:30px;
font-size:14px;
color:#666666;
font-weight:bold;
padding:5px 10px 5px 10px;
}
#isi{
line-height:20px;
}
.li-class{
	list-style:url(../../e-learning/images/bullet.gif);
	margin-left:-20px;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.textfield{
background-color:#EEFAFF;
-moz-border-radius:4px;
-khtml-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius:4px;
font-size:11px;
font-family:Arial;
}
.timer{
background-color:#EEFAFF;
-moz-border-radius:4px;
-khtml-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius:4px;
font-size:13px;
font-weight:bold;
font-family:Arial;
}
.tombol{
background-color:#EEFAFF;
font-size:12px;
color:#666666;
font-weight:bold;
}
#footer{
width:800px;
font-size:12px;
color:#666666;
padding:0px;
margin:0 auto;
text-align:center;
}
#footer a{
color:#FF9900;
text-decoration:none;
}
#footer a:hover{
color:#000000;
text-decoration:none;
}
#kiri a{
color:#FF9900;
text-decoration:none;
}
#kiri a:hover{
color:#000000;
text-decoration:none;
}
#kanan a{
color:#FF9900;
text-decoration:none;
}
#kanan a:hover{
color:#000000;
text-decoration:none;
}
.pagingpage-nomor{
	background-color: #fff;
	-moz-border-radius:4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	text-align:center;
	width:20px;
	padding: 2px;
	border: 1px solid #C8E862;
	float:left;
}
.pagingpage{
	background-color: #fff;
	-moz-border-radius:4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	text-align:center;
	padding: 2px;
	border: 1px solid #C8E862;
	float:left;
}

